#cust{
float: left;
width: 400px;
height: 300px;
margin-left: 30px;
text-align: center;
box-shadow: 10px 10px 20px 5px rgb(4,124,9);
border-radius: 20px;
margin-top: 50px;
}

#write{
    float: left;
    width: 400px;
    height: 300px;
    margin-left: 30px;
    text-align: center;
    box-shadow: 10px 10px 20px 5px rgb(182,12,10);
    border-radius: 20px;
    margin-top: 50px;

}
#sale{
    float: left;
    width: 400px;
    height: 300px;
    margin-left: 30px;
    text-align: center;
    box-shadow: 10px 10px 20px 5px rgb(1,2,239) ;
    border-radius: 20px;
    margin-top: 50px;
}
#c{ 
    background-color:rgb(4,124,9) ;
    width: 150px;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;


}
#wr{
    background-color: rgb(182,12,10);
    width: 80px;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;


}
#sa{
    background-color: rgb(1,2,239);
    width: 150px;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;


}
div{
    line-height: 40px;
}
#fr{
    color: green; 

}
h1{
    margin-top: 30px;
}