form{
    border: 2px solid black;
    
 margin-top: 100px;
 max-width: 590px;
 margin-left: 300px;
 min-height: 150px;
 padding-top: 30px;
 line-height: 60px;
 margin-bottom: 100px;
 margin-right: 240px;
 background-color:aliceblue
 

}
table{
    text-align: center;
    margin: 0 auto;

    
}
input[type="text"]{
    margin-left: 10px;
   
    width: 250px;
    height: 30px;

}
button{
    width: 250px;
    font-size: 20px;
      
    height: 30px;
    background-color: aqua;
    

}
input[type="password"]{
    margin-left: 10px;
   
    width: 250px;
    height: 30px;
}
h1{
    text-align: center;

}
.border{
    background-color: cadetblue;
    border-style: solid;
    margin-top: 100px;
    max-width: 900px;
    margin-left: 300px;
    min-height: 300px;
    
}
body{
    background-image: linear-gradient(to bottom,rgb(28, 28, 163),rgb(235, 135, 220));
}